
@{
    ViewBag.Title = "Home4SaleConfirm";
}

    <div style="background-color:slategray; border-radius:20px; padding:5%;margin-left:-4%;">
        <h2>Home Added Confirmation</h2>
        <p>Price= @Model.Price</p>
        <p>Bedrooms: @Model.Bedroom</p>
        <p>Bathrooms: @Model.Bathroom</p>
        <p>Sqr Feet: @Model.SqrFeet</p>
        <p>Lot= @Model.Lot</p>
        <p>Year: @Model.Year</p>
        <p>Model: @Model.Model</p>
        <p>Description: @Model.Description</p>
    </div>

